.container {
    padding: 32px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 16px;
}

.switchContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 16px 0px 0px;
}
