.quantityContainer {
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 8px;

    .quantityCounter {
        display: flex;
        align-items: center;
        border: 1px solid #000000;
        border-radius: 4px;

        button {
            padding: 4px;
            svg {
                font-size: 1rem;
            }
        }
    }
}
