.container {
    width: 97%;
    padding: 16px 16px 16px 0px;
    transition: transform 0.2s ease-in-out !important;
    display: grid;
    grid-template-columns: auto 3fr;
    align-items: flex-start;
    overflow: visible !important;

    img {
        position: relative;
        left: -15px;
    }

    .detailContainer {
        padding: 0;
        .compareCheckbox {
            label {
                font-size: 0.875rem;
            }
        }
        .details {
            margin-top: 16px;
            display: grid;
            grid-template-columns: min-content 1fr;
            gap: 8px;

            :nth-child(odd) {
                font-weight: 600;
            }
        }
    }
}
.container:hover {
    transform: scale(1.03);
}
